In [4]:
# import pandas
# to read the data
import pandas as pd

In [5]:
# import the data
data = pd.read_excel('IMB821.xlsx', sheet_name='raw data')

In [6]:
# show the data
data

,Financial Year,Bag Number,Status Description,Blood Group,RH,Blood Classification,Stock Creation Date,Stock Issue Date,Expiry Date,Unnamed: 9
0,2017-2018,112PR,Issued,A,POSITIVE,PACKED RED CELLS,2018-01-01,2018-01-03,2018-02-09,NaN
1,2017-2018,118PR,Issued,A,POSITIVE,PACKED RED CELLS,2017-12-31,2017-12-31,2018-01-29,NaN
2,2017-2018,163PR,Issued,O,POSITIVE,PACKED RED CELLS,2018-03-27,2018-03-31,2018-05-07,NaN
3,2017-2018,7728PL,Issued,B,POSITIVE,PLASMA,2017-10-02,2017-10-22,2018-10-02,NaN
4,2017-2018,7728CY,Expired,B,POSITIVE,CRYO,2017-10-02,NaT,2018-10-02,NaN
...,...,...,...,...,...,...,...,...,...,...
40828,2018-2019,8927PR,Expired,B,POSITIVE,PACKED RED CELLS,2018-09-28,NaT,2018-11-08,NaN
40829,2018-2019,8936PR,Expired,AB,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40830,2018-2019,8938PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40831,2018-2019,8952,Expired,A,POSITIVE,WHOLE BLOOD,2018-09-30,NaT,2018-11-03,NaN
40832,2018-2019,8953PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN

In [7]:
# get the columns' name
data.columns

Index(['Financial Year', 'Bag Number', 'Status Description', 'Blood Group',
       'RH', 'Blood Classification', 'Stock Creation Date', 'Stock Issue Date',
       'Expiry Date', 'Unnamed: 9'],
      dtype='object')

In [8]:
# as they contain spaces, we want to convert it into _
data.columns = data.columns.str.replace(' ', '_')

In [9]:
# get info of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40833 entries, 0 to 40832
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Financial_Year        40833 non-null  object
 1   Bag_Number            40833 non-null  object
 2   Status_Description    40833 non-null  object
 3   Blood_Group           40833 non-null  object
 4   RH                    40833 non-null  object
 5   Blood_Classification  40833 non-null  object
 6   Stock_Creation_Date   40833 non-null  datetime64[ns]
 7   Stock_Issue_Date      35249 non-null  datetime64[ns]
 8   Expiry_Date           40830 non-null  datetime64[ns]
 9   Unnamed:_9            0 non-null      float64
dtypes: datetime64[ns](3), float64(1), object(6)
memory usage: 3.1+ MB

In [10]:
# get rows having date +- a week of December 12th
part1 = data[(data.Stock_Creation_Date >= '2017-12-5') & 
             (data.Stock_Creation_Date <= '2017-12-19')]

# drop rows having such dates
sample2 = data.drop(data[(data['Stock_Creation_Date'] >= '2018-08-8') 
                        & (data['Stock_Creation_Date'] <= '2018-08-22')].index)

In [11]:
# show part1
part1

,Financial_Year,Bag_Number,Status_Description,Blood_Group,RH,Blood_Classification,Stock_Creation_Date,Stock_Issue_Date,Expiry_Date,Unnamed:_9
2249,2017-2018,10156FP,Issued,AB,NEGATIVE,FRESH FROZEN PLASMA,2017-12-12,2017-12-12,2018-12-26,NaN
2250,2017-2018,10156FP,Issued,AB,NEGATIVE,FRESH FROZEN PLASMA,2017-12-12,2017-12-12,2018-12-26,NaN
3259,2017-2018,10693FP,Issued,B,POSITIVE,FRESH FROZEN PLASMA,2017-12-05,2017-12-28,2018-12-05,NaN
3260,2017-2018,10694FP,Issued,O,POSITIVE,FRESH FROZEN PLASMA,2017-12-05,2017-12-28,2018-12-05,NaN
3261,2017-2018,10695FP,Issued,O,POSITIVE,FRESH FROZEN PLASMA,2017-12-05,2017-12-28,2018-12-05,NaN
...,...,...,...,...,...,...,...,...,...,...
40606,2017-2018,10708,Expired,B,POSITIVE,WHOLE BLOOD,2017-12-05,NaT,2018-01-08,NaN
40607,2017-2018,10750PR,Expired,O,POSITIVE,PACKED RED CELLS,2017-12-05,NaT,2018-01-15,NaN
40608,2017-2018,10763PR,Expired,O,NEGATIVE,PACKED RED CELLS,2017-12-05,NaT,2018-01-15,NaN
40609,2017-2018,10773PR,Expired,O,POSITIVE,PACKED RED CELLS,2017-12-05,NaT,2018-01-15,NaN
40610,2017-2018,10832PT,Expired,A,POSITIVE,PLATELETS,2017-12-06,NaT,2017-12-12,NaN

In [12]:
# show sample2
sample2

,Financial_Year,Bag_Number,Status_Description,Blood_Group,RH,Blood_Classification,Stock_Creation_Date,Stock_Issue_Date,Expiry_Date,Unnamed:_9
0,2017-2018,112PR,Issued,A,POSITIVE,PACKED RED CELLS,2018-01-01,2018-01-03,2018-02-09,NaN
1,2017-2018,118PR,Issued,A,POSITIVE,PACKED RED CELLS,2017-12-31,2017-12-31,2018-01-29,NaN
2,2017-2018,163PR,Issued,O,POSITIVE,PACKED RED CELLS,2018-03-27,2018-03-31,2018-05-07,NaN
3,2017-2018,7728PL,Issued,B,POSITIVE,PLASMA,2017-10-02,2017-10-22,2018-10-02,NaN
4,2017-2018,7728CY,Expired,B,POSITIVE,CRYO,2017-10-02,NaT,2018-10-02,NaN
...,...,...,...,...,...,...,...,...,...,...
40828,2018-2019,8927PR,Expired,B,POSITIVE,PACKED RED CELLS,2018-09-28,NaT,2018-11-08,NaN
40829,2018-2019,8936PR,Expired,AB,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40830,2018-2019,8938PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40831,2018-2019,8952,Expired,A,POSITIVE,WHOLE BLOOD,2018-09-30,NaT,2018-11-03,NaN
40832,2018-2019,8953PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN

In [13]:
# count the values of column 'Stock_Creation_Date' and sort them
part1 = part1.Stock_Creation_Date.value_counts().sort_index()

In [14]:
#show part1
part1

2017-12-05    227
2017-12-06    158
2017-12-07     89
2017-12-08    203
2017-12-09    642
2017-12-10    151
2017-12-11     96
2017-12-12      3
2017-12-13    153
2017-12-14    742
2017-12-15    110
2017-12-16    420
2017-12-18      1
2017-12-19    339
Name: Stock_Creation_Date, dtype: int64

In [15]:
# get rows having date +- a week of August 15th

part2 = data[(data.Stock_Creation_Date >= '2018-01-19') & (data.Stock_Creation_Date <= '2018-02-2')]
part2 = part2.Stock_Creation_Date.value_counts().sort_index()

# drop rows having such dates for sample2
sample2 = data.drop(data[(data.Stock_Creation_Date >= '2018-01-19') 
                         & (data.Stock_Creation_Date <= '2018-02-2')].index)

In [16]:
# show part2
part2

2018-01-19      2
2018-01-20     20
2018-01-21    254
2018-01-22      3
2018-01-23    219
2018-01-24     78
2018-01-25      3
2018-01-26    605
2018-01-27     24
2018-01-28      7
2018-01-29    133
2018-01-30      3
2018-01-31     28
2018-02-01    434
2018-02-02    128
Name: Stock_Creation_Date, dtype: int64

In [17]:
# show sample2
sample2

,Financial_Year,Bag_Number,Status_Description,Blood_Group,RH,Blood_Classification,Stock_Creation_Date,Stock_Issue_Date,Expiry_Date,Unnamed:_9
0,2017-2018,112PR,Issued,A,POSITIVE,PACKED RED CELLS,2018-01-01,2018-01-03,2018-02-09,NaN
1,2017-2018,118PR,Issued,A,POSITIVE,PACKED RED CELLS,2017-12-31,2017-12-31,2018-01-29,NaN
2,2017-2018,163PR,Issued,O,POSITIVE,PACKED RED CELLS,2018-03-27,2018-03-31,2018-05-07,NaN
3,2017-2018,7728PL,Issued,B,POSITIVE,PLASMA,2017-10-02,2017-10-22,2018-10-02,NaN
4,2017-2018,7728CY,Expired,B,POSITIVE,CRYO,2017-10-02,NaT,2018-10-02,NaN
...,...,...,...,...,...,...,...,...,...,...
40828,2018-2019,8927PR,Expired,B,POSITIVE,PACKED RED CELLS,2018-09-28,NaT,2018-11-08,NaN
40829,2018-2019,8936PR,Expired,AB,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40830,2018-2019,8938PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40831,2018-2019,8952,Expired,A,POSITIVE,WHOLE BLOOD,2018-09-30,NaT,2018-11-03,NaN
40832,2018-2019,8953PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN

In [18]:
# get rows having date +- a week of December 26th
part3 = data[(data.Stock_Creation_Date >= '2018-02-7') & (data.Stock_Creation_Date <= '2018-02-21')]
part3 = part3.Stock_Creation_Date.value_counts().sort_index()

# drop rows having such dates for sample2
sample2 = data.drop(data[(data.Stock_Creation_Date >= '2018-02-7') 
                         & (data.Stock_Creation_Date <= '2018-02-21')].index)

In [19]:
# get rows having date +- a week of December 14th
part4 = data[(data.Stock_Creation_Date >= '2018-08-8') & (data.Stock_Creation_Date <= '2018-08-22')]
part4 = part4.Stock_Creation_Date.value_counts().sort_index()

# drop rows having such dates for sample2
sample2 = data.drop(data[(data.Stock_Creation_Date >= '2018-08-8') 
                         & (data.Stock_Creation_Date <= '2018-08-22')].index)

In [20]:
# concatenate or combine the four parts above
sample1 = pd.concat([part1, part2, part3, part4])

In [21]:
#show sample1
sample1

2017-12-05    227
2017-12-06    158
2017-12-07     89
2017-12-08    203
2017-12-09    642
2017-12-10    151
2017-12-11     96
2017-12-12      3
2017-12-13    153
2017-12-14    742
2017-12-15    110
2017-12-16    420
2017-12-18      1
2017-12-19    339
2018-01-19      2
2018-01-20     20
2018-01-21    254
2018-01-22      3
2018-01-23    219
2018-01-24     78
2018-01-25      3
2018-01-26    605
2018-01-27     24
2018-01-28      7
2018-01-29    133
2018-01-30      3
2018-01-31     28
2018-02-01    434
2018-02-02    128
2018-02-07    372
2018-02-08    189
2018-02-09    117
2018-02-10    144
2018-02-12     10
2018-02-13      7
2018-02-14    679
2018-02-15     63
2018-02-16    492
2018-02-17     36
2018-02-18     49
2018-02-19     12
2018-02-20    476
2018-02-21     98
2018-08-08      3
2018-08-09     91
2018-08-10    114
2018-08-11    237
2018-08-12     12
2018-08-13    415
2018-08-14     15
2018-08-15    251
2018-08-16      9
2018-08-17    281
2018-08-18    158
2018-08-19      2
2018-08-20      7
2018-08-21    132
2018-08-22    119
Name: Stock_Creation_Date, dtype: int64

In [22]:
# show sample2
sample2

,Financial_Year,Bag_Number,Status_Description,Blood_Group,RH,Blood_Classification,Stock_Creation_Date,Stock_Issue_Date,Expiry_Date,Unnamed:_9
0,2017-2018,112PR,Issued,A,POSITIVE,PACKED RED CELLS,2018-01-01,2018-01-03,2018-02-09,NaN
1,2017-2018,118PR,Issued,A,POSITIVE,PACKED RED CELLS,2017-12-31,2017-12-31,2018-01-29,NaN
2,2017-2018,163PR,Issued,O,POSITIVE,PACKED RED CELLS,2018-03-27,2018-03-31,2018-05-07,NaN
3,2017-2018,7728PL,Issued,B,POSITIVE,PLASMA,2017-10-02,2017-10-22,2018-10-02,NaN
4,2017-2018,7728CY,Expired,B,POSITIVE,CRYO,2017-10-02,NaT,2018-10-02,NaN
...,...,...,...,...,...,...,...,...,...,...
40828,2018-2019,8927PR,Expired,B,POSITIVE,PACKED RED CELLS,2018-09-28,NaT,2018-11-08,NaN
40829,2018-2019,8936PR,Expired,AB,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40830,2018-2019,8938PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN
40831,2018-2019,8952,Expired,A,POSITIVE,WHOLE BLOOD,2018-09-30,NaT,2018-11-03,NaN
40832,2018-2019,8953PR,Expired,O,POSITIVE,PACKED RED CELLS,2018-09-30,NaT,2018-11-10,NaN

# things that I recommend you to work on to manipulate the data before doing the hypothesis testing

# count the values of Stock_Creation_Date column
# name each column for sample1 and sample 2 with Stock_Creation_Date and No_of_bags_collected
# import stats from scipy to conduct the hypothesis tecting as the following: from scipy import stats

In [25]:

from scipy import stats
part34 = data[(data.Stock_Creation_Date >= '2018-03-01') & (data.Stock_Creation_Date <= '2018-04-30')]
part56 = data[(data.Stock_Creation_Date >= '2018-05-01') & (data.Stock_Creation_Date <= '2018-06-30')]
part34=part34.Stock_Creation_Date.value_counts().sort_index()
part56=part56.Stock_Creation_Date.value_counts().sort_index()
stats.ttest_ind(a=part56,b=part34, axis=0,nan_policy='propagate', equal_var=False, alternative='greater')

Ttest_indResult(statistic=-0.18054084583295424, pvalue=0.5714630283913064)

In [ ]:
#4. Ho equal to --> use ANOVA to compare